.pdtp-50{
    padding-top: 50px;
}

.pdtb-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

li{
    list-style-type: none;
}

.pdl-20{
    padding-left: 20px;
}

.ftsz-20{
    font-size: 20px;
}

.pd-r-20{
    padding-right: 20px;
}