   <h1>Login Form</h1>
    <form>  
        <div class="login-container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit" onclick={{login}}>Login</button>    
            <button type="submit" onclick={{addNewMember}} >Sign up</button>     
        </div>   
    </form>

    <p id="demo"></p>